In [1]:
from IPython.core.display import display, HTML
# 노트북 컨테이너 크기 조절
display(HTML("<style>#notebook-container {width: 90% !important; }</style>"))
# 마크다운 폰트
display(HTML("<style>.rendered_html{font-family: 'D2Coding'; font-size: 16pt; line-height: 140%;}</style>"))
# DataFrame 테이블 폰트
display(HTML("<style>.rendered_html table{font-family: 'D2Coding'; font-size: 16pt; line-height: 140%;}</style>"))
# 출력창 폰트
display(HTML("<style>pre{font-family: 'D2Coding', font-size: 16pt;}.rendered_html>ul>li{margin: 10px}</style>"))
display(HTML("<style>div.output_area>pre, div.output_subarea>pre{font-size: 16pt !important; line-height: 140%;}</style>"))
# 코드셀 폰트
display(HTML("<style> .CodeMirror pre {font-family: 'D2Coding'; font-size: 18pt !important; line-height: 140%;}</style>"))

# 패키지 설치

In [2]:
!pip install mySUNI

Requirement already satisfied: mySUNI in /opt/conda/lib/python3.6/site-packages (1.3.0)
Requirement already satisfied: pandas in /opt/conda/lib/python3.6/site-packages (from mySUNI) (1.1.5)
Requirement already satisfied: scikit-learn in /opt/conda/lib/python3.6/site-packages (from mySUNI) (0.24.1)
Requirement already satisfied: requests in /opt/conda/lib/python3.6/site-packages (from mySUNI) (2.20.0)
Requirement already satisfied: seaborn in /opt/conda/lib/python3.6/site-packages (from mySUNI) (0.11.1)
Requirement already satisfied: ipywidgets in /opt/conda/lib/python3.6/site-packages (from mySUNI) (7.2.1)
Requirement already satisfied: tqdm in /opt/conda/lib/python3.6/site-packages (from mySUNI) (4.63.1)
Requirement already satisfied: matplotlib in /opt/conda/lib/python3.6/site-packages (from mySUNI) (3.2.2)
Requirement already satisfied: jupyter in /opt/conda/lib/python3.6/site-packages (from mySUNI) (1.0.0)
Requirement already satisfied: ipykernel>=4.5.1 in /opt/conda/lib/python3.6/site-packages (from ipywidgets->mySUNI) (5.1.0)
Requirement already satisfied: widgetsnbextension~=3.2.0 in /opt/conda/lib/python3.6/site-packages (from ipywidgets->mySUNI) (3.2.1)
Requirement already satisfied: nbformat>=4.2.0 in /opt/conda/lib/python3.6/site-packages (from ipywidgets->mySUNI) (4.4.0)
Requirement already satisfied: traitlets>=4.3.1 in /opt/conda/lib/python3.6/site-packages (from ipywidgets->mySUNI) (4.3.2)
Requirement already satisfied: ipython>=4.0.0 in /opt/conda/lib/python3.6/site-packages (from ipywidgets->mySUNI) (7.0.1)
Requirement already satisfied: jupyter_client in /opt/conda/lib/python3.6/site-packages (from ipykernel>=4.5.1->ipywidgets->mySUNI) (7.1.2)
Requirement already satisfied: tornado>=4.2 in /opt/conda/lib/python3.6/site-packages (from ipykernel>=4.5.1->ipywidgets->mySUNI) (5.1.1)
Requirement already satisfied: setuptools>=18.5 in /opt/conda/lib/python3.6/site-packages (from ipython>=4.0.0->ipywidgets->mySUNI) (56.2.0)
Requirement already satisfied: jedi>=0.10 in /opt/conda/lib/python3.6/site-packages (from ipython>=4.0.0->ipywidgets->mySUNI) (0.13.1)
Requirement already satisfied: decorator in /opt/conda/lib/python3.6/site-packages (from ipython>=4.0.0->ipywidgets->mySUNI) (4.3.0)
Requirement already satisfied: pickleshare in /opt/conda/lib/python3.6/site-packages (from ipython>=4.0.0->ipywidgets->mySUNI) (0.7.5)
Requirement already satisfied: simplegeneric>0.8 in /opt/conda/lib/python3.6/site-packages (from ipython>=4.0.0->ipywidgets->mySUNI) (0.8.1)
Requirement already satisfied: prompt_toolkit<2.1.0,>=2.0.0 in /opt/conda/lib/python3.6/site-packages (from ipython>=4.0.0->ipywidgets->mySUNI) (2.0.6)
Requirement already satisfied: pygments in /opt/conda/lib/python3.6/site-packages (from ipython>=4.0.0->ipywidgets->mySUNI) (2.2.0)
Requirement already satisfied: backcall in /opt/conda/lib/python3.6/site-packages (from ipython>=4.0.0->ipywidgets->mySUNI) (0.1.0)
Requirement already satisfied: pexpect in /opt/conda/lib/python3.6/site-packages (from ipython>=4.0.0->ipywidgets->mySUNI) (4.6.0)
Requirement already satisfied: parso>=0.3.0 in /opt/conda/lib/python3.6/site-packages (from jedi>=0.10->ipython>=4.0.0->ipywidgets->mySUNI) (0.3.1)
Requirement already satisfied: ipython_genutils in /opt/conda/lib/python3.6/site-packages (from nbformat>=4.2.0->ipywidgets->mySUNI) (0.2.0)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /opt/conda/lib/python3.6/site-packages (from nbformat>=4.2.0->ipywidgets->mySUNI) (2.6.0)
Requirement already satisfied: jupyter_core in /opt/conda/lib/python3.6/site-packages (from nbformat>=4.2.0->ipywidgets->mySUNI) (4.9.2)
Requirement already satisfied: six>=1.9.0 in /opt/conda/lib/python3.6/site-packages (from prompt_toolkit<2.1.0,>=2.0.0->ipython>=4.0.0->ipywidgets->mySUNI) (1.11.0)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.6/site-packages (from prompt_toolkit<2.1.0,>=2.0.0->ipython>=4.0.0->ipywidgets->mySUNI) (0.1.7)
Requirement already satisfied: notebook>=4.4.1 in /opt/conda/lib/python3.6/site-packages (from widgetsnbextension~=3.2.0->ipywidgets->mySUNI) (5.7.0)
Requirement already satisfied: jinja2 in /opt/conda/lib/python3.6/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.2.0->ipywidgets->mySUNI) (2.10)
Requirement already satisfied: pyzmq>=17 in /opt/conda/lib/python3.6/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.2.0->ipywidgets->mySUNI) (17.1.2)
Requirement already satisfied: nbconvert in /opt/conda/lib/python3.6/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.2.0->ipywidgets->mySUNI) (5.3.1)
Requirement already satisfied: Send2Trash in /opt/conda/lib/python3.6/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.2.0->ipywidgets->mySUNI) (1.5.0)
Requirement already satisfied: terminado>=0.8.1 in /opt/conda/lib/python3.6/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.2.0->ipywidgets->mySUNI) (0.8.1)
Requirement already satisfied: prometheus_client in /opt/conda/lib/python3.6/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.2.0->ipywidgets->mySUNI) (0.4.2)
Requirement already satisfied: python-dateutil>=2.1 in /opt/conda/lib/python3.6/site-packages (from jupyter_client->ipykernel>=4.5.1->ipywidgets->mySUNI) (2.7.4)
Requirement already satisfied: entrypoints in /opt/conda/lib/python3.6/site-packages (from jupyter_client->ipykernel>=4.5.1->ipywidgets->mySUNI) (0.2.3)
Requirement already satisfied: nest-asyncio>=1.5 in /opt/conda/lib/python3.6/site-packages (from jupyter_client->ipykernel>=4.5.1->ipywidgets->mySUNI) (1.5.4)
Requirement already satisfied: MarkupSafe>=0.23 in /opt/conda/lib/python3.6/site-packages (from jinja2->notebook>=4.4.1->widgetsnbextension~=3.2.0->ipywidgets->mySUNI) (1.0)
Requirement already satisfied: jupyter-console in /opt/conda/lib/python3.6/site-packages (from jupyter->mySUNI) (6.4.3)
Requirement already satisfied: qtconsole in /opt/conda/lib/python3.6/site-packages (from jupyter->mySUNI) (5.2.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /opt/conda/lib/python3.6/site-packages (from matplotlib->mySUNI) (2.2.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /opt/conda/lib/python3.6/site-packages (from matplotlib->mySUNI) (1.0.1)
Requirement already satisfied: cycler>=0.10 in /opt/conda/lib/python3.6/site-packages (from matplotlib->mySUNI) (0.10.0)
Requirement already satisfied: numpy>=1.11 in /opt/conda/lib/python3.6/site-packages (from matplotlib->mySUNI) (1.19.5)
Requirement already satisfied: bleach in /opt/conda/lib/python3.6/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.2.0->ipywidgets->mySUNI) (3.0.2)
Requirement already satisfied: mistune>=0.7.4 in /opt/conda/lib/python3.6/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.2.0->ipywidgets->mySUNI) (0.8.4)
Requirement already satisfied: pandocfilters>=1.4.1 in /opt/conda/lib/python3.6/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.2.0->ipywidgets->mySUNI) (1.4.2)
Requirement already satisfied: testpath in /opt/conda/lib/python3.6/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.2.0->ipywidgets->mySUNI) (0.4.2)
Requirement already satisfied: webencodings in /opt/conda/lib/python3.6/site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.2.0->ipywidgets->mySUNI) (0.5.1)
Requirement already satisfied: pytz>=2017.2 in /opt/conda/lib/python3.6/site-packages (from pandas->mySUNI) (2018.6)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/lib/python3.6/site-packages (from pexpect->ipython>=4.0.0->ipywidgets->mySUNI) (0.6.0)
Requirement already satisfied: qtpy in /opt/conda/lib/python3.6/site-packages (from qtconsole->jupyter->mySUNI) (2.0.1)
Requirement already satisfied: packaging in /opt/conda/lib/python3.6/site-packages (from qtpy->qtconsole->jupyter->mySUNI) (18.0)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /opt/conda/lib/python3.6/site-packages (from requests->mySUNI) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.6/site-packages (from requests->mySUNI) (2018.10.15)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /opt/conda/lib/python3.6/site-packages (from requests->mySUNI) (1.23)
Requirement already satisfied: idna<2.8,>=2.5 in /opt/conda/lib/python3.6/site-packages (from requests->mySUNI) (2.7)

Requirement already satisfied: joblib>=0.11 in /opt/conda/lib/python3.6/site-packages (from scikit-learn->mySUNI) (1.0.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /opt/conda/lib/python3.6/site-packages (from scikit-learn->mySUNI) (2.1.0)
Requirement already satisfied: scipy>=0.19.1 in /opt/conda/lib/python3.6/site-packages (from scikit-learn->mySUNI) (1.1.0)
Requirement already satisfied: importlib-resources in /opt/conda/lib/python3.6/site-packages (from tqdm->mySUNI) (5.4.0)
Requirement already satisfied: zipp>=3.1.0 in /opt/conda/lib/python3.6/site-packages (from importlib-resources->tqdm->mySUNI) (3.6.0)
WARNING: You are using pip version 21.1.1; however, version 21.3.1 is available.
You should consider upgrading via the '/opt/conda/bin/python -m pip install --upgrade pip' command.

## 모듈 import

In [3]:
import numpy as np
import pandas as pd
from mySUNI import cds
from IPython.display import Image

## 데이터 다운로드

In [4]:
cds.list_data() # 데이터 조회

,name,info,filename
0,서울시자전거,서울시 따릉이 자전거 대여량 정보,[seoul_bicycle.csv]
1,서울시대중교통,"서울시 대중교통(지하철, 버스) 이용객 정보",[seoul_transportation.xlsx]
2,서울시주민등록인구,서울시 주민등록인구 정보,[seoul_population.csv]
3,유가정보,2019년 서울시 유가 정보,"[gas_first_2019.csv, gas_second_2019.csv]"
4,PandasFileIO,Pandas File I/O 연습 문제용 데이터셋,"[mySUNI.xlsx, mySUNI_1.csv, mySUNI_2.csv, mySU..."
5,CCTV데이터분석,mySUNI WorkShop - CCTV 데이터 분석,"[01. CCTV_in_Seoul.csv, 01. population_in_Seou..."
6,국민연금데이터분석,mySUNI WorkShop - 국민연금 데이터 분석,[national_pension.csv]
7,민간아파트가격동향분석,mySUNI WorkShop - 민간 아파트 가격 동향 분석,[seoul_house_price.csv]
8,실거래가분석,mySUNI WorkShop - 2020년 아파트 실거래가 분석,"[2020-seoul-apt-price.csv, loc_code.xlsx]"
9,유가가격분석,mySUNI WorkShop - 2020년 유가 가격 분석,"[gas_first_2019.csv, gas_second_2019.csv]"
10,중고차판매정보분석,mySUNI WorkShop - 중고차 판매 정보 분석,[vehicles.csv]
11,신용정보,사용자의 신용카드 대금 연체를 기준의 신용도,[credit-data.csv]
12,전국신규분양가,주택도시보증공사 전국 신규 민간 아파트 분양가격 정보,[house-price.csv]
13,에너지 효율,난방부하 및 냉방부하 요구사항(에너지 효율)을 평가,[ENB2012_data.xlsx]
14,보스턴집값,보스턴 지역 집값 데이터 세트,[boston.csv]
15,와인유형분류,"와인 유형(red, white) 분류를 위한 와인 품질 데이터 세트","[red_wine.csv, white_wine.csv]"
16,사용자이탈예측,사용자 이탈 예측,"[class.csv, event.csv, logs.csv, user_info.csv]"

In [5]:
cds.download_data(['서울시대중교통', '서울시주민등록인구', 'PandasFileIO'])

파일 다운로드 완료
====================

데이터셋: 서울시대중교통
파일경로: data/seoul_transportation.xlsx

====================
파일 다운로드 완료
====================

데이터셋: 서울시주민등록인구
파일경로: data/seoul_population.csv

====================
파일 다운로드 완료
====================

데이터셋: PandasFileIO
파일경로: data/mySUNI.xlsx

====================
파일 다운로드 완료
====================

데이터셋: PandasFileIO
파일경로: data/mySUNI_1.csv

====================
파일 다운로드 완료
====================

데이터셋: PandasFileIO
파일경로: data/mySUNI_2.csv

====================
파일 다운로드 완료
====================

데이터셋: PandasFileIO
파일경로: data/mySUNI_3.csv

====================

## Excel

[도큐먼트](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_excel.html)

### Excel - 불러오기

In [ ]:
openpyxl xlrd xlwt # 엑셀 파일의 읽고, 쓰기 가능   xls, xlsx

Excel 데이터를 바로 읽어들일 수 있으며, `sheet_name`을 지정하면 해당 sheet를 가져옵니다.

In [7]:
# 'data/seoul_transportation.xlsx' 파일의 '철도' 시트를 가져옵니다
excel = pd.read_excel('data/seoul_transportation.xlsx', sheet_name='철도', engine='openpyxl')

In [11]:
# excel의 첫 5개 행을 출력합니다
excel.head(3)

  대중교통구분  노선명      년월   승차총승객수
0    지하철  1호선  201711  8633618
1    지하철  1호선  201712  8737235
2    지하철  1호선  201801  8145989

In [12]:
# 'data/seoul_transportation.xlsx' 파일의 '버스' 시트를 가져와 첫 5개 행을 출력합니다.
excel = pd.read_excel('data/seoul_transportation.xlsx', sheet_name='버스', engine='openpyxl')
excel.head()

  대중교통구분      년월     승차총승객수
0     버스  201711  163443126
1     버스  201712  162521011
2     버스  201801  153335185
3     버스  201802  134768582
4     버스  201803  166177855

`sheet_name`을 None으로 지정하면, 모든 sheet를 가지고 옵니다.

가지고 올 때는 OrderedDict로 가져오며, `keys()`로 **시트명을 조회**할 수 있습니다.

In [13]:
# 'data/seoul_transportation.xlsx' 파일의 모든 시트를 OrderedDict로 가져와 출력합니다.
excels = pd.read_excel('data/seoul_transportation.xlsx', sheet_name=None, engine='openpyxl')
excels

{'철도':     대중교통구분    노선명      년월   승차총승객수
 0      지하철    1호선  201711  8633618
 1      지하철    1호선  201712  8737235
 2      지하철    1호선  201801  8145989
 3      지하철    1호선  201802  7273309
 4      지하철    1호선  201803  8692551
 ..     ...    ...     ...      ...
 596    지하철  우이신설선  201901  1263643
 597    지하철  우이신설선  201902  1102109
 598    지하철  우이신설선  201903  1402393
 599    지하철  우이신설선  201904  1403115
 600    지하철  우이신설선  201905  1469681

 [601 rows x 4 columns], '버스':    대중교통구분      년월     승차총승객수
 0      버스  201711  163443126
 1      버스  201712  162521011
 2      버스  201801  153335185
 3      버스  201802  134768582
 4      버스  201803  166177855
 5      버스  201804  160452595
 6      버스  201805  164390595
 7      버스  201806  156999747
 8      버스  201807  163736112
 9      버스  201808  160240197
 10     버스  201809  151311657
 11     버스  201810  165820934
 12     버스  201811  163017758
 13     버스  201812  158049446
 14     버스  201901  153037549
 15     버스  201902  131621925
 16     버스  201903  161694445
 17     버스  201904  161900273
 18     버스  201905  166587933}

In [14]:
# excels의 시트이름 목록 조회
excels.keys()

dict_keys(['철도', '버스'])

In [16]:
# excels의 '철도' 시트에 대한 DataFrame에서 첫 5개 행을 출력합니다.
excels['철도'].head()

  대중교통구분  노선명      년월   승차총승객수
0    지하철  1호선  201711  8633618
1    지하철  1호선  201712  8737235
2    지하철  1호선  201801  8145989
3    지하철  1호선  201802  7273309
4    지하철  1호선  201803  8692551

In [17]:
# excels의 '버스' 시트에 대한 DataFrame에서 첫 5개 행을 출력합니다.
excels['버스'].head(5)

  대중교통구분      년월     승차총승객수
0     버스  201711  163443126
1     버스  201712  162521011
2     버스  201801  153335185
3     버스  201802  134768582
4     버스  201803  166177855

### Excel - 저장하기

DataFrame을 Excel로 저장할 수 있으며, Excel로 저장시 **파일명**을 지정합니다.

- `index=False` 옵션은 가급적 꼭 지정하는 옵션입니다. 지정을 안하면 **index가 별도의 컬럼으로 저장**되게 됩니다.
- `sheet_name`을 지정하여, 저장할 시트의 이름을 변경할 수 있습니다.

In [ ]:
import openpyxl 
dir(openpyxl)

In [18]:
# DataFrame excel을 'sample.xlsx' 로 저장합니다. 이때 index도 함께 저장 합니다.
excel.to_excel('sample.xlsx')

In [19]:
# DataFrame excel을 'sample1.xlsx' 로 저장합니다. 이때 index는 저장하지 않고, sheet_name은 '샘플'로 저장 합니다.
excel.to_excel('sample1.xlsx', sheet_name='샘플', index=False)

### Excel - 여러개의 시트에 저장

여래 개의 시트에 저장하기 위해서는 **ExcelWriter를 사용**해야 합니다.

In [21]:
writer = pd.ExcelWriter('sample2.xlsx')
excel.to_excel(writer, index=False, sheet_name='샘플1')
excel.to_excel(writer, index=False, sheet_name='샘플2')
excel.to_excel(writer, index=False, sheet_name='샘플3')
writer.close()

In [22]:
# 리소스를 자동 반환하도록 함 (with)
with pd.ExcelWriter('sample3.xlsx') as writer:
    excel.to_excel(writer, index=False, sheet_name='샘플1')
    excel.to_excel(writer, index=False, sheet_name='샘플2')
    excel.to_excel(writer, index=False, sheet_name='샘플3')

### 연습문제

data 폴더에 있는 mySUNI.xlsx 파일을 읽어서 df에 저장하세요.
- 모든 시트를 읽어오세요.

In [24]:
# 코드를 입력하세요.
df = pd.read_excel('data/mySUNI.xlsx', sheet_name=None, engine='openpyxl')

시트명을 조회하세요.

In [25]:
# 코드를 입력하세요.
df.keys()

dict_keys(['2020년 01월', '2020년 02월', '2020년 03월', '2020년 04월', '2020년 05월', '2020년 06월', '2020년 07월', '2020년 08월', '2020년 09월', '2020년 10월', '2020년 11월', '2020년 12월'])

시트명이 2020년 07월인 데이터 프레임을 df_07에 저장하세요.

In [26]:
# 코드를 입력하세요.
df_07 = df['2020년 07월']

해당 시트를 '2020년 07월 서울 브랜드별 평균 휘발유 가격.xlsx'으로 저장하세요. 인덱스는 저장하지 않습니다.

In [27]:
# 코드를 입력하세요.
df_07.to_excel('2020년 07월 서울 브랜드별 평균 휘발유 가격.xlsx', index=False)

## CSV (Comma Separated Values)

- 한 줄이 한 개의 행에 해당하며, 열 사이에는** 쉼표(,)를 넣어 구분**합니다.
- Excel보다는 훨씬 가볍고 **차지하는 용량이 적기 때문에 대부분의 파일데이터는 csv 형태**로 제공됩니다.

(참고) 쉼표를 찍어 놓은 금액 데이터(100,000)를 CSV에 직접 집어넣으면 나중에 해석할 때 서로 다른 열로 취급되므로 문제가 될 수 있습니다. 해결책으로 쉼표 대신 탭 문자(\t)를 구분자로 사용하는 것이다. 이러한 경우 **Tab Separated Values(TSV)**라고 부른다.

### CSV - 불러오기

In [29]:
# 'data/seoul_population.csv' 파일을 읽어 df라는 이름을 부여합니다
df = pd.read_csv('data/seoul_population.csv')

In [30]:
df.head()

,연도,자치구,세대수,인구 합계,남자 인구 합계,여자 인구 합계,한국인 인구 합계,한국인 남자 인구수,한국인 여자 인구수,등록 외국인 인구 합계,등록 외국인 인구 남자수,등록 외국인 인구 여자수,세대당 인구,65세 이상 고령자 수
0,2020,합계,"4,417,954","9,911,088","4,816,522","5,094,566","9,668,465","4,701,723","4,966,742","242,623","114,799","127,824",2.19,"1,568,331"
1,2020,종로구,"75,003","158,996","76,876","82,120","149,384","72,635","76,749","9,612","4,241","5,371",1.99,"28,507"
2,2020,중구,"63,686","134,635","65,776","68,859","125,240","61,222","64,018","9,395","4,554","4,841",1.97,"24,495"
3,2020,용산구,"113,093","244,645","118,835","125,810","230,040","110,722","119,318","14,605","8,113","6,492",2.03,"40,247"
4,2020,성동구,"135,870","300,505","146,424","154,081","293,556","143,387","150,169","6,949","3,037","3,912",2.16,"45,603"

In [36]:
df2 = df.replace(',', '', regex=True)
df3 = df2.loc[:, '세대수':'등록 외국인 인구 여자수'].astype('int32')
df3.dtypes

세대수              int32
인구 합계            int32
남자 인구 합계         int32
여자 인구 합계         int32
한국인 인구 합계        int32
한국인 남자 인구수       int32
한국인 여자 인구수       int32
등록 외국인 인구 합계     int32
등록 외국인 인구 남자수    int32
등록 외국인 인구 여자수    int32
dtype: object

때때로 한글데이터를 불러올 때 다른 인코딩을 사용해야하는 경우도 있습니다.그럴 땐 `encoding` 옵션을 지정해주면 됩니다.

In [50]:
def getEncoding(filename):
    import chardet
    with open(filename, 'rb') as f:
        result = chardet.detect(f.readline())  
    return result['encoding']

In [52]:
# 'data/seoul_population.csv' 파일을 encoding을 'utf8'로 지정하여 읽어 df라는 이름을 부여합니다.
filename = 'data/seoul_population.csv'
df = pd.read_csv(filename, encoding=getEncoding(filename))

In [40]:
df.head()

,연도,자치구,세대수,인구 합계,남자 인구 합계,여자 인구 합계,한국인 인구 합계,한국인 남자 인구수,한국인 여자 인구수,등록 외국인 인구 합계,등록 외국인 인구 남자수,등록 외국인 인구 여자수,세대당 인구,65세 이상 고령자 수
0,2020,합계,"4,417,954","9,911,088","4,816,522","5,094,566","9,668,465","4,701,723","4,966,742","242,623","114,799","127,824",2.19,"1,568,331"
1,2020,종로구,"75,003","158,996","76,876","82,120","149,384","72,635","76,749","9,612","4,241","5,371",1.99,"28,507"
2,2020,중구,"63,686","134,635","65,776","68,859","125,240","61,222","64,018","9,395","4,554","4,841",1.97,"24,495"
3,2020,용산구,"113,093","244,645","118,835","125,810","230,040","110,722","119,318","14,605","8,113","6,492",2.03,"40,247"
4,2020,성동구,"135,870","300,505","146,424","154,081","293,556","143,387","150,169","6,949","3,037","3,912",2.16,"45,603"

### CSV - 큰 파일 데이터 끊어서 불러오기

데이터의 크기가 매우 큰 경우 memory에 한 번에 로드할 수 없습니다.

`chunksize`를 지정하고 `chunksize`만큼 끊어서 불러와서 처리하게 되면 용량이 매우 큰 데이터도 처리할 수 있습니다.

예시) `chunksize=10`: 10개의 데이터를 로드합니다.

In [43]:
# 'data/seoul_population.csv' 파일을 10개 만큼씩 끊어 읽어 옵니다
df = pd.read_csv('data/seoul_population.csv', chunksize=10)

In [46]:
for d in df:
    display(len(d), d)

10

,연도,자치구,세대수,인구 합계,남자 인구 합계,여자 인구 합계,한국인 인구 합계,한국인 남자 인구수,한국인 여자 인구수,등록 외국인 인구 합계,등록 외국인 인구 남자수,등록 외국인 인구 여자수,세대당 인구,65세 이상 고령자 수
0,2020,합계,"4,417,954","9,911,088","4,816,522","5,094,566","9,668,465","4,701,723","4,966,742","242,623","114,799","127,824",2.19,"1,568,331"
1,2020,종로구,"75,003","158,996","76,876","82,120","149,384","72,635","76,749","9,612","4,241","5,371",1.99,"28,507"
2,2020,중구,"63,686","134,635","65,776","68,859","125,240","61,222","64,018","9,395","4,554","4,841",1.97,"24,495"
3,2020,용산구,"113,093","244,645","118,835","125,810","230,040","110,722","119,318","14,605","8,113","6,492",2.03,"40,247"
4,2020,성동구,"135,870","300,505","146,424","154,081","293,556","143,387","150,169","6,949","3,037","3,912",2.16,"45,603"
5,2020,광진구,"167,427","360,109","173,000","187,109","346,682","167,310","179,372","13,427","5,690","7,737",2.07,"50,560"
6,2020,동대문구,"167,598","357,014","175,322","181,692","342,837","169,769","173,068","14,177","5,553","8,624",2.05,"61,796"
7,2020,중랑구,"185,920","399,562","197,118","202,444","394,702","195,165","199,537","4,860","1,953","2,907",2.12,"69,447"
8,2020,성북구,"195,396","447,056","214,658","232,398","437,153","210,810","226,343","9,903","3,848","6,055",2.24,"73,770"
9,2020,강북구,"145,896","311,569","151,466","160,103","308,055","150,143","157,912","3,514","1,323","2,191",2.11,"63,422"

10

,연도,자치구,세대수,인구 합계,남자 인구 합계,여자 인구 합계,한국인 인구 합계,한국인 남자 인구수,한국인 여자 인구수,등록 외국인 인구 합계,등록 외국인 인구 남자수,등록 외국인 인구 여자수,세대당 인구,65세 이상 고령자 수
10,2020,도봉구,"139,114","327,361","159,420","167,941","325,257","158,620","166,637","2,104",800,"1,304",2.34,"62,059"
11,2020,노원구,"218,270","527,032","254,188","272,844","523,037","252,383","270,654","3,995","1,805","2,190",2.40,"85,489"
12,2020,은평구,"213,914","484,043","231,998","252,045","479,835","230,279","249,556","4,208","1,719","2,489",2.24,"85,187"
13,2020,서대문구,"144,838","322,952","153,152","169,800","312,173","149,360","162,813","10,779","3,792","6,987",2.16,"54,204"
14,2020,마포구,"178,482","381,858","178,977","202,881","371,890","175,150","196,740","9,968","3,827","6,141",2.08,"54,331"
15,2020,양천구,"180,633","457,781","224,379","233,402","454,251","222,824","231,427","3,530","1,555","1,975",2.51,"65,670"
16,2020,강서구,"266,982","585,901","282,686","303,215","580,185","280,034","300,151","5,716","2,652","3,064",2.17,"88,984"
17,2020,구로구,"180,531","432,488","215,424","217,064","404,408","199,673","204,735","28,080","15,751","12,329",2.24,"70,198"
18,2020,금천구,"114,715","247,835","126,141","121,694","231,733","117,226","114,507","16,102","8,915","7,187",2.02,"39,842"
19,2020,영등포구,"184,714","407,367","202,969","204,398","379,480","187,647","191,833","27,887","15,322","12,565",2.05,"61,688"

6

,연도,자치구,세대수,인구 합계,남자 인구 합계,여자 인구 합계,한국인 인구 합계,한국인 남자 인구수,한국인 여자 인구수,등록 외국인 인구 합계,등록 외국인 인구 남자수,등록 외국인 인구 여자수,세대당 인구,65세 이상 고령자 수
20,2020,동작구,"184,229","401,572","193,718","207,854","391,220","189,152","202,068","10,352","4,566","5,786",2.12,"65,190"
21,2020,관악구,"274,811","509,803","255,211","254,592","495,060","248,339","246,721","14,743","6,872","7,871",1.80,"78,875"
22,2020,서초구,"173,502","429,025","205,282","223,743","425,126","203,359","221,767","3,899","1,923","1,976",2.45,"60,169"
23,2020,강남구,"234,872","544,055","260,378","283,677","539,231","257,999","281,232","4,824","2,379","2,445",2.30,"75,096"
24,2020,송파구,"281,959","673,926","325,080","348,846","667,960","322,299","345,661","5,966","2,781","3,185",2.37,"93,483"
25,2020,강동구,"196,499","463,998","228,044","235,954","459,970","226,216","233,754","4,028","1,828","2,200",2.34,"70,019"

### CSV - 저장하기

저장하는 방법은 excel과 유사합니다. 다만, csv파일 형식에는 `sheet_name` 옵션은 없습니다.

In [47]:
df = pd.read_csv('data/seoul_population.csv')

In [48]:
# df를 'sample.csv'로 저장합니다. 이때 index는 저장되지 않도록 합니다.
df.to_csv('sample.csv', index=False)

읽어들인 **Excel 파일도 Csv로 저장**할 수 있습니다.

In [15]:
excel = pd.read_excel('data/seoul_transportation.xlsx', sheet_name='버스')
excel.head()

  대중교통구분      년월     승차총승객수
0     버스  201711  163443126
1     버스  201712  162521011
2     버스  201801  153335185
3     버스  201802  134768582
4     버스  201803  166177855

In [49]:
# excel을 'sample1.csv'로 저장합니다. 이때 index는 저장되지 않도록 합니다.
excel.to_csv('sample1.csv', index=False)

### 연습문제

data 폴더에 있는 mySUNI_1.csv 파일을 읽어서 df에 저장하세요.

In [55]:
# 코드를 입력하세요.
import os
dirname = 'data'
basename = 'mySUNI_1.csv'
filename = os.path.join(dirname, basename)
print(filename)
df = pd.read_csv(filename)
df.head(2)

data/mySUNI_1.csv

,지역,GS칼텍스_셀프,GS칼텍스_일반,S-OIL_셀프,S-OIL_일반,SK에너지_셀프,SK에너지_일반,알뜰(ex)_셀프,알뜰주유소_셀프,알뜰주유소_일반,자가상표_셀프,자가상표_일반,현대오일뱅크_셀프,현대오일뱅크_일반
0,서울 강남구,1479.628286,1647.372500,1459.241304,1641.747917,1452.455417,1790.737444,NaN,NaN,NaN,NaN,NaN,1408.822500,1604.995806
1,서울 강동구,1451.558750,1472.213056,1456.763333,1528.702500,1457.974359,1666.781667,NaN,NaN,NaN,NaN,NaN,1412.656667,1441.861667

data 폴더에 있는 mySUNI_2.csv 파일을 읽어서 df에 저장하세요.
- encoding은 cp949로 되어있습니다.

In [61]:
# 코드를 입력하세요.
#df = pd.read_csv('data/mySUNI_2.csv', encoding='EUC-KR')   # encoding='cp949'
filename = 'data/mySUNI_2.csv'
df = pd.read_csv(filename, encoding=getEncoding(filename))
df.head(2)

,지역,GS칼텍스_셀프,GS칼텍스_일반,S-OIL_셀프,S-OIL_일반,SK에너지_셀프,SK에너지_일반,알뜰(ex)_셀프,알뜰주유소_셀프,알뜰주유소_일반,자가상표_셀프,자가상표_일반,현대오일뱅크_셀프,현대오일뱅크_일반
0,서울 강남구,1479.628286,1647.372500,1459.241304,1641.747917,1452.455417,1790.737444,NaN,NaN,NaN,NaN,NaN,1408.822500,1604.995806
1,서울 강동구,1451.558750,1472.213056,1456.763333,1528.702500,1457.974359,1666.781667,NaN,NaN,NaN,NaN,NaN,1412.656667,1441.861667

data 폴더에 있는 mySUNI_3.csv 파일을 읽어서 df에 저장하세요.
- encoding은 cp949로 되어있습니다.

In [62]:
# 코드를 입력하세요.
filename = 'data/mySUNI_3.csv'
df = pd.read_csv(filename, encoding=getEncoding(filename))
df.head(2)

  지역|GS칼텍스_셀프|GS칼텍스_일반|S-OIL_셀프|S-OIL_일반|SK에너지_셀프|SK에너지_일반|알뜰(ex)_셀프|알뜰주유소_셀프|알뜰주유소_일반|자가상표_셀프|자가상표_일반|현대오일뱅크_셀프|현대오일뱅크_일반
0  서울 강남구|1479.6282857142858|1647.3725000000002|1...
1  서울 강동구|1451.5587500000001|1472.2130555555555|1...

In [63]:
df.shape

(25, 1)

- 구분자(sep)는 ,가 아닌 |로 되어있습니다 다시 파일을 읽어오세요.

In [64]:
# 코드를 입력하세요.
filename = 'data/mySUNI_3.csv'
df = pd.read_csv(filename, sep='|', encoding=getEncoding(filename))
df.head(2)

,지역,GS칼텍스_셀프,GS칼텍스_일반,S-OIL_셀프,S-OIL_일반,SK에너지_셀프,SK에너지_일반,알뜰(ex)_셀프,알뜰주유소_셀프,알뜰주유소_일반,자가상표_셀프,자가상표_일반,현대오일뱅크_셀프,현대오일뱅크_일반
0,서울 강남구,1479.628286,1647.372500,1459.241304,1641.747917,1452.455417,1790.737444,NaN,NaN,NaN,NaN,NaN,1408.822500,1604.995806
1,서울 강동구,1451.558750,1472.213056,1456.763333,1528.702500,1457.974359,1666.781667,NaN,NaN,NaN,NaN,NaN,1412.656667,1441.861667

데이터를 5개씩 끊어서 읽어오세요.

In [70]:
# 코드를 입력하세요.
filename = 'data/mySUNI_3.csv'
df = pd.read_csv(filename, chunksize=5, sep='|', encoding=getEncoding(filename))

In [74]:
type(df)  # pandas.io.parsers.TextFileReader    - iterator

pandas.io.parsers.TextFileReader

In [72]:
for d in df:
    print(len(d))